* {
    font-family:Arial, Helvetica, sans-serif;
    
}

.section ul {
    position: absolute;
    top: 30%;
    padding: 0;
    width: 600px;
    transform: translate(-50%);
    left: 50%;
}

.section li {
    list-style-type: none;
    display: inline;
    font-size: 200%;
    font-weight: bolder;
}

.section li a {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-decoration: none;
    color: black;
    padding: 10px 41px 10px 10px;
    transition: all 0.5s;
}

.section a.\31:hover {
    color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.349);
    border-bottom: 5px solid rgb(255, 0, 0);
}

.section a.\32:hover {
    color: rgb(0, 0, 255);
    background-color: rgba(0, 0, 255, 0.349);
    border-bottom: 5px solid rgb(0, 0, 255);
}

.section a.\33:hover {
    color: rgb(155, 155, 4);
    background-color: rgba(155, 155, 4, 0.349);
    border-bottom: 5px solid rgb(155, 155, 4);
}

.section a.\34:hover {
    color: rgb(7, 117, 7);
    background-color: rgba(7, 117, 7, 0.349);
    border-bottom: 5px solid rgb(7, 117, 7);
}

.section hr {
    border-bottom: 6px solid black;
}